.hero {
  padding: 64px;
  background-size: 100%;
  background-position: 0px 100%;
  background-repeat: no-repeat;
  padding-bottom: 240px;
}
.section {
  padding: 64px 0;
  /*text-align: center;*/
}
