.hero {
  padding: 32px 0;
  background-size: 100%;
  background-position: 0px 100%;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  position: relative;
}

.hero-with-video {
  padding: 96px 0;
  position: relative;
}

.section {
  padding: 64px 0;
  /*text-align: center;*/
  &.inverse {
    background-color: #f1f1f1;
  }
}


.manifest {
  padding: 64px 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .manifest-quote {
    z-index: 20;
    position: relative;
    color: white;
    padding: 64px 0;
    p.quote {
      font-style: italic;
      margin-bottom: 0;
    }
  }
  &:after {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
  }
}

.drive-in.drive-in-wrap {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.drive-in-wrap {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -10000;
}
.drive-in-media {
    position: absolute;
}
.drive-in-media video,
.drive-in-media img {
    transition: opacity .5s ease-in-out;
    position: relative;
}